@font-main: notokr, 'Helvetica Neue', Helvetica, sans-serif;

@arc-diameter: 170px;

@color-blue-grey-50: #ECEFF1;
@color-blue-grey-100: #CFD8DC;
@color-blue-grey-200: #B0BEC5;
@color-blue-grey-300: #90A4AE;
@color-blue-grey-400: #78909C;
@color-blue-grey-500: #607D8B;
@color-blue-grey-600: #546E7A;
@color-blue-grey-700: #455A64;
@color-blue-grey-800: #37474F;
@color-blue-grey-900: #263238;

@color-grey-50: #FAFAFA;
@color-grey-100: #F5F5F5;
@color-grey-200: #EEEEEE;
@color-grey-300: #E0E0E0;
@color-grey-400: #BDBDBD;
@color-grey-500: #9E9E9E;
@color-grey-600: #757575;
@color-grey-700: #616161;
@color-grey-800: #424242;
@color-grey-900: #212121;

@color-white: #FFF;
@color-black: #000;
@color-blue: #2196F3;
@color-red: #F44336;
@color-green: #4CAF50;

@font-kr: MSNeo;
@font-en: Segoe;


.today-weather {
    position: absolute;

    width: 90%;
    height: 90%;

    left: 5%;
    top: 5%;

    display: flex;

    color: @color-white;

    &-icon {
        display: flex;
        align-items: center;
        margin: 0 0 0 -5vw;

        svg {
            width: 40vw;
            height: 100%;
            color: @color-white;
        }
    }

    &-summary {
        flex: 1;

        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        &-temp {
            display: flex;
            align-items: center;
            font-family: @font-en;

            &-high {
                padding-bottom: .5vw;
                font-size: 15vw;
                font-weight: 500;
                &:after { margin-left: .66vw; font-weight: 300; content: "º";  }
            }

            &-division {
                margin-left: 1vw;
                margin-right: 3vw;
                font-size: 10vw;
                font-weight: 700;
                color: @color-grey-500;
                opacity: .65;
            }

            &-low {
                font-size: 10vw;
                font-weight: 300;
                line-height: 1;
                margin-top: 5vh;
                &:after { margin-left: .66vw; font-weight: 300; content: "º";  }
            }
        }

        &-description {
            display: inline-block;
            margin-top: 3vh;
            font-size: 8vw;
            font-weight: 300;
            text-align: left;
            line-height: 1;
            font-family: @font-kr;
            color: @color-grey-500;
        }
    }
}
